body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f2f2f2;
}

h2 {
  background: #0078a8;
  color: white;
  padding: 10px 0;
  margin: 0;
}

#map {
  height: 90vh;
  width: 100%;
}
